<h1>Top rating restaurants</h1>

<% @top_restaruants.each do |restaurant| %>
<ul>
  <li>
  <%= link_to restaurant.name, restaurant_path(restaurant) %> |
  chef: <%= restaurant.chef_name %>
  <%= 'â­ï¸' * restaurant.rating %>
  </li>
</ul>

<% end %>